<app-loader *ngIf="is_loading"></app-loader>
<p-card>
    <form [formGroup]="FormmulairePassword" (ngSubmit)="ChangePassword()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12" *ngIf="if_old_password_required">
                <label>Ancien mot de passe : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && Formulaire_errors.old_password.errors">
                    * (Requis entre 6 à 30 caractères)
                </span>
                <input pInputText type="text" formControlName="old_password" minlength="6" maxlength="30"
                    placeholder="6 caractères min.">
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <label>Nouveau mot de passe : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && Formulaire_errors.new_password.errors">
                    * (Requis entre 6 à 30 caractères)
                </span>
                <input pInputText type="text" formControlName="new_password" minlength="6" maxlength="30"
                    placeholder="6 caractères min.">
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12">
                <label>Retapez le nouveau mot de passe : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && Formulaire_errors.re_new_password.errors">
                    * (Requis entre 6 à 30 caractères)
                </span>
                <input pInputText type="text" formControlName="re_new_password" minlength="6" maxlength="30"
                    placeholder="6 caractères min.">
            </div>
        </div>
        <div class="text-center flex justify-content-center mt-4">
            <p-message [showTransitionOptions]="'0ms'" *ngIf="Ifmessage" [hideTransitionOptions]="'500ms'"
                severity="{{Error==0 ?'success':'error'}}" text="{{ApiMessage}}"></p-message>
        </div>
        <div class="flex justify-content-between center_media">
            <div>
                <button pButton pRipple type="button" class="p-button-danger" (click)="ClosePopUp(false)">
                    Femer
                </button>
            </div>
            <div class="mt-auto">
                <button pButton pRipple type="submit" class="p-button-success" [disabled]="Disabled || is_loading">
                    Valider
                </button>
            </div>
        </div>
    </form>
</p-card>