<app-loader *ngIf="is_loading"></app-loader>
<!-- -------------------- Le formulaire de la recherche --------------------- -->
<p-fieldset legend="Rechercher des systemes management qualité" [toggleable]="true">
    <form [formGroup]="FormmulaireRecherche" (ngSubmit)="RechercherParametrage()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col">
                <label>Titre</label>
                <input pInputText type="text" formControlName="libelle" placeholder="...">
            </div>
        </div>
        <div class="flex justify-content-end center_media mt-2" style="column-gap: 10px;">
            <button pButton pRipple class="p-button-success" icon="pi pi-plus-circle" iconPos="left" type="button"
                (click)="ShowFormulaire('Ajouté')" tooltipPosition="bottom" label="Ajouter un SMQ"
                pTooltip="Cliquez ici pour ajouter un nouveau SMQ">
            </button>
            <button type="submit" pButton pRipple class="p-button" icon="pi pi-search" iconPos="left"
                    label="Rechercher / Rafraîchir" [disabled]="is_loading" style="font-size: 11px !important;">
                </button>
            <div>
                <button pButton pRipple class="ml-2 p-button-rounded" icon="pi pi-filter-slash" tooltipPosition="left"
                    pTooltip="Cliquez ici pour vider le formulaire" (click)="ClearSearch()">
                </button>
            </div>
        </div>
    </form>
</p-fieldset>
<br>
<hr>
<!-- ------------------------- La liste des parametrages ----------------------- -->
<p-card class="m-1 mt-1 mb-1">
    <p-table responsiveLayout="scroll" [value]="liste_parametrages" styleClass="p-datatable-responsive-demo"
        (onSort)="Sort($event)" (onPage)="paginate($event)" [paginator]="true" [rows]="take"
        [rowsPerPageOptions]="[10,15,20]" [totalRecords]="totalRecords" [lazy]="true" [(first)]="skip"
        [showCurrentPageReport]="true" dataKey="_id" [sortOrder]="1"
        currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} résultats" [rowHover]="true"
        sortField="label">
        <!-- ------------------------------- Header -------------------------------- -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Site.Libelle">Site<p-sortIcon field="Site.Libelle">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="Libelle">Titre<p-sortIcon field="Libelle"></p-sortIcon>
                </th>
                <th pSortableColumn="Description">Description<p-sortIcon field="Description"></p-sortIcon>
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <!-- -------------------------------- Body --------------------------------- -->
        <ng-template pTemplate="body" let-parametrage let-expanded="expanded">
            <tr>
                <td>
                    <span class="font-weight-bold">
                        {{parametrage?.Site.Libelle}}
                    </span>
                </td>
                <td>
                    <span class="badge badge-info">
                        {{parametrage?.Libelle}}
                    </span>
                </td>
                <td>
                    <span class="badge badge-info">
                        {{parametrage?.Description}}
                    </span>
                </td>
                <td class="text-center">
                    <div class="cm-action-btn">
                        <i pButton pRipple class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                            tooltipPosition="left"
                            pTooltip="Modifier le paramètre : {{parametrage?.Libelle}} ?"
                            (click)="ShowFormulaire('modifier',parametrage)">
                        </i>
                        <i pButton pRipple class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                            pTooltip="Supprimer le paramètre : {{parametrage?.Libelle}} ?"
                            tooltipPosition="left" (click)="SupprimerParametrage(parametrage)">
                        </i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="7">
                    <div class="text-center">
                        <div class="center_media">
                            <img src="./assets/layout/images/no_data.svg" width="120px" alt="image no_data">
                        </div>
                        <p *ngIf="!is_loading" class="font-weight-bold mt-2">
                            Aucun enregistrement sur la base de données
                        </p>
                        <p *ngIf="is_loading" class="font-weight-bold mt-2">
                            Chargement ...
                        </p>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<!-- ----------------------------------------------------------------------- -->
<!--                      Le formulaire de modification                      -->
<!-- ----------------------------------------------------------------------- -->
<p-dialog dismissableMask="true" [resizable]="false" header="{{Header_info}}" [(visible)]="if_show_modifier"
    [maximizable]="true" [modal]="true" [baseZIndex]="10000" [style]="{'min-width': '40vw'}">
    <p-card>
        <app-update-smq [data_selected_parametrage]="data_selected_parametrage" *ngIf="if_show_modifier"
            (FermerPopUp)="CloseUpdate($event)">
        </app-update-smq>
    </p-card>
</p-dialog>
<!-- ----------------------------------------------------------------------- -->
<!--                        Le formulaire de l'ajout                         -->
<!-- ----------------------------------------------------------------------- -->
<p-dialog dismissableMask="true" [resizable]="false" header="Ajouter un SMQ" [(visible)]="if_show_ajouter"
    [maximizable]="true" [modal]="true" [baseZIndex]="10000" [style]="{'min-width': '40vw'}">
    <p-card>
        <app-add-smq *ngIf="if_show_ajouter" (FermerPopUp)="CloseAjouter($event)">
        </app-add-smq>
    </p-card>
</p-dialog>