<app-loader *ngIf="is_loading"></app-loader>
<!-- -------------------- Le formulaire de la recherche --------------------- -->
<p-fieldset legend="Recherchez les Processus" [toggleable]="true">
    <form [formGroup]="FormmulaireRecherche" (ngSubmit)="SearchProcessus()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-4">
                <label>Code</label>
                <input pInputText type="text" formControlName="code" placeholder="...">
            </div>
            <div class="field col-4">
                <label>Titre </label>
                <input pInputText type="text" formControlName="libelle" placeholder="...">
            </div>
            <div class="field col-4">
                <label class="mb-2">Catégories</label>
                <p-dropdown [autoDisplayFirst]="false" [resetFilterOnHide]="true" class="ng-dirty" [showClear]="true"
                  [options]="categorieList" formControlName="categorie" [filter]="true" placeholder="Sélectionnez une catégorie"
                  emptyFilterMessage="Aucune catégorie" emptyMessage="Aucune catégorie" scrollHeight="130px">
                  <ng-template let-element pTemplate="item">
                    <div class="flex justify-content-between">
                      <span class="font-12">{{ element?.label }}</span>
                    </div>
                  </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="flex justify-content-end center_media mt-2" style="column-gap: 10px;">
            <button pButton pRipple class="p-button-success"
                *ngIf="generalService.canActivate('Processus-Ajouter')" icon="pi pi-plus-circle" iconPos="left"
                type="button" (click)="ShowFormulaire('Ajouté')" tooltipPosition="bottom" label="Créer un processus"
                pTooltip="Cliquez ici pour créer un nouveau processus">
            </button>
            <button type="submit" pButton pRipple class="p-button" icon="pi pi-search" iconPos="left"
                label="Rechercher / Rafraîchir" [disabled]="is_loading" style="font-size: 11px !important;">
            </button>
            <div>
                <button pButton pRipple class="ml-2 p-button-rounded" icon="pi pi-filter-slash" tooltipPosition="left"
                    pTooltip="Cliquez ici pour vider le formulaire" (click)="ClearSearch()">
                </button>
            </div>
        </div>
    </form>
</p-fieldset>
<br>
<hr>
<!-- ------------------------- La liste des parametrages ----------------------- -->
<p-card class="m-1 mt-1 mb-1">
    <p-table responsiveLayout="scroll" [value]="listDeclaration" styleClass="p-datatable-responsive-demo"
        (onSort)="Sort($event)" (onPage)="paginate($event)" [paginator]="true" [rows]="take"
        [rowsPerPageOptions]="[10,15,20]" [totalRecords]="totalRecords" [lazy]="true" [(first)]="skip"
        [showCurrentPageReport]="true" dataKey="_id" [sortOrder]="1"
        currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} résultats" [rowHover]="true"
        sortField="label">
        <!-- ------------------------------- Header -------------------------------- -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Code">
                    Code <p-sortIcon field="Code"></p-sortIcon>
                </th>
                <th pSortableColumn="Libelle">
                    Titre <p-sortIcon field="Libelle"></p-sortIcon>
                </th>
                <th pSortableColumn="Version">
                    Version <p-sortIcon field="Version"></p-sortIcon>
                </th>
                <th pSortableColumn="Categories.Libelle">
                    Catégorie <p-sortIcon field="Categories.Libelle"></p-sortIcon>
                </th>
                <th pSortableColumn="NamePilote">
                    PL <p-sortIcon field="NamePilote"></p-sortIcon>
                </th>
                <th pSortableColumn="NameCoPilote">
                    CPL <p-sortIcon field="NameCoPilote"></p-sortIcon>
                </th>
                <th pSortableColumn="CreationDate">
                    Date d'application <p-sortIcon field="CreationDate"></p-sortIcon>
                </th>
                <th class="text-center">
                    Actions
                </th>
            </tr>
        </ng-template>
      
        <!-- -------------------------------- Body --------------------------------- -->
        <ng-template pTemplate="body" let-p let-expanded="expanded"> 
            <tr>
                <td>
                    <span class="badge badge-info">
                        {{p?.Code}}
                    </span>
                </td>
              
                <td>
                    <span class="badge badge-info">
                        {{p?.Libelle}}
                    </span>
                </td>
                <td>
                    <span class="badge badge-info">
                        {{p?.Version}}
                    </span>
                </td>
                <td>
                    <span class="badge badge-info">
                    {{p?.Categories.Libelle}}
                    </span>
                </td>
                <td>
                    <span class="badge badge-info">
                        {{p?.NamePilote}}
                    </span>
                </td>
                <td>
                    <span class="badge badge-info">
                        {{p?.NameCoPilote}}
                    </span>
                </td>
                <td style="width: 15%;">
                    <span class="badge badge-info">
                        {{ p?.CreationDate | date: 'dd/MM/yyyy'  }}    
                      
                    </span>
                </td>
                <td class="text-center">
                    <div class="cm-action-btn">
                        <ng-container>
                            <i *ngIf="generalService.canActivate('Processus-Modifier') "
                                pButton pRipple class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                                tooltipPosition="left"
                                pTooltip="Modifier : {{p?.Code}}"
                                (click)="ShowFormulaire('modifier',p)">
                            </i>
                        </ng-container>
                        <ng-container>
                            <i *ngIf="generalService.canActivate('Processus-Supprimer') && generalService.canActivatePilote(p)" pButton pRipple
                            class="p-button-rounded p-button-danger" icon="pi pi-trash" tooltipPosition="right"
                            pTooltip="Supprimer le processus : {{p?.Code}} " (click)="DeleteAnProcessus(p)">
                         </i>
                        </ng-container>
                        <ng-container>
                            <i *ngIf="generalService.canActivate('Processus-Détail')"
                               pButton pRipple class="p-button-rounded p-button-warning" icon="pi pi-info"
                               tooltipPosition="right" pTooltip="Afficher le détail: {{p?.Code}}"
                               (click)="DetailAnProcessus(p)">
                            </i>
                        </ng-container>
                        <ng-container>
                            <i *ngIf="generalService.canActivate('Documents Processus-Télecharger') "
                            pButton pRipple class="p-button-rounded p-button-help mr-2" icon="pi pi-download"
                            tooltipPosition="left" pTooltip="Télecharger le document : {{p?.Code}}"
                            (click)="downloadDocument(p?.ID)">
                            </i>
                        </ng-container>
                                                 
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="7">
                    <div class="text-center">
                        <div class="center_media">
                            <img src="./assets/layout/images/no_data.svg" width="120px" alt="image no_data">                    
                        </div>
                        <p *ngIf="!is_loading" class="font-weight-bold mt-2">
                            Aucun enregistrement sur la base de données
                        </p>
                        <p *ngIf="is_loading" class="font-weight-bold mt-2">
                            Chargement ...
                        </p>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<!-- ----------------------------------------------------------------------- -->
<!--                      Le formulaire de modification                      -->
<!-- ----------------------------------------------------------------------- -->
<p-dialog [dismissableMask]="true" [closable]="false" [resizable]="false" header="{{Header_info}}"
    [(visible)]="if_show_modifier" [maximizable]="true" [modal]="true" [baseZIndex]="10000"
    [style]="{'min-width': '70vw'}">
    <app-update-processus [data_selected_ddp]="data_selected_ddp" *ngIf="if_show_modifier"
        (FermerPopUp)="CloseUpdate($event)">
    </app-update-processus>
</p-dialog> 
 <!----------------------------------------------------------------------- -->
<!--                        Le formulaire de l'ajout                         -->
<!-- ----------------------------------------------------------------------- -->
 <p-dialog [dismissableMask]="true" [closable]="false" [resizable]="false" header="Création processus"
    [(visible)]="if_show_ajouter" [maximizable]="true" [modal]="true" [baseZIndex]="10000"
    [style]="{'min-width': '70vw'}" [style]="{'width': '70vw'}">
    <app-add-processus *ngIf="if_show_ajouter" (FermerPopUp)="CloseAjouter($event)">
    </app-add-processus>
</p-dialog> 

<p-dialog dismissableMask="true" [resizable]="false" header="Les documents" [(visible)]="if_show_doc" [modal]="true"
    [baseZIndex]="10000" [style]="{'min-width': '30vw'}">
    <app-impressions [data_selected_ddp]="data_selected_ddp" *ngIf="if_show_doc"></app-impressions>
</p-dialog> 

