<!-- <app-loader *ngIf="is_loading"></app-loader> -->
<!-- -------------------- Le formulaire de la recherche --------------------- -->
<p-fieldset legend="Rechercher des utilisateurs" [toggleable]="true">
    <form [formGroup]="FormmulaireRecherche" (ngSubmit)="RechercherUtilisateur()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col">
                <label>Nom complet</label>
                <input pInputText type="text" formControlName="nom_complet_utilisateur" placeholder="...">
            </div>
            <div class="field col">
                <label>Rôle</label>
                <p-dropdown [autoDisplayFirst]="false" [resetFilterOnHide]="true" class="ng-dirty" [showClear]="true"
                    [options]="liste_roles" formControlName="Id" [filter]="true" placeholder="..."
                    emptyFilterMessage="Aucun rôle" emptyMessage="Aucun rôle" scrollHeight="130px">
                    <ng-template let-element pTemplate="item">
                        <div class="flex justify-content-between">
                            <span class="font-12">{{element?.label}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="flex justify-content-end center_media mt-2" style="column-gap: 10px;">
            <button pButton pRipple class="p-button-success" icon="pi pi-plus-circle" iconPos="left" type="button"
                (click)="ShowFormulaire('Ajouté')" tooltipPosition="bottom" label="Ajouter un utilisateur"
                pTooltip="Cliquez ici pour ajouter un nouvel utilisateur">
            </button>
            <button type="submit" pButton pRipple class="p-button" icon="pi pi-search" iconPos="left"
                label="Rechercher / Rafraîchir" [disabled]="is_loading" style="font-size: 11px !important;">
            </button>
            <div>
                <button pButton pRipple class="ml-2 p-button-rounded" icon="pi pi-filter-slash" tooltipPosition="left"
                    pTooltip="Cliquez ici pour vider le formulaire" (click)="ClearSearch()">
                </button>
            </div>
        </div>
    </form>
</p-fieldset>
<br>
<hr>
<!-- ------------------------- La liste des utilisateurs ----------------------- -->
<p-card class="m-1 mt-1 mb-1">
    <p-table responsiveLayout="scroll" [value]="liste_utilisateurs" styleClass="p-datatable-responsive-demo"
        (onSort)="Sort($event)" (onPage)="paginate($event)" [paginator]="true" [rows]="take"
        [rowsPerPageOptions]="[10,15,20]" [totalRecords]="totalRecords" [lazy]="true" [(first)]="skip"
        [showCurrentPageReport]="true" dataKey="_id" [sortOrder]="1"
        currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} résultats" [rowHover]="true"
        sortField="nom_complet_utilisateur">
        <!-- ------------------------------- Header -------------------------------- -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nom_complet_utilisateur">Nom complet<p-sortIcon field="nom_complet_utilisateur">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="username">Login<p-sortIcon field="username">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="email">Email<p-sortIcon field="email">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="Roles_name">Rôle<p-sortIcon field="Roles_name"></p-sortIcon>
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </ng-template>
        <!-- -------------------------------- Body --------------------------------- -->
        <ng-template pTemplate="body" let-utilisateur let-expanded="expanded">
            <tr>
                <td>
                    <span class="font-weight-bold">
                        {{utilisateur?.NomCompletUtilisateur}}
                    </span>
                </td>
                <td>
                    <span class="font-weight-bold">
                        {{utilisateur?.Username}}
                    </span>
                </td>
                <td>
                    <span class="badge badge-info">
                        {{utilisateur?.Email}}
                    </span>
                </td>
                <td>
                    <span class="badge badge-info">
                        {{utilisateur?.Roles_name}}
                    </span>
                </td>
                <td class="text-center">
                    <div class="cm-action-btn">
                        <i pButton pRipple class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil"
                            tooltipPosition="left"
                            pTooltip="Modifier les informations de l'utilisateur(e) : {{utilisateur?.NomCompletUtilisateur}} ?"
                            (click)="ShowFormulaire('modifier',utilisateur)">
                        </i>
                        <!-- <i pButton pRipple class="p-button-rounded p-button-help mr-2" icon="pi pi-key"
                            pTooltip="Modifier le mot de passe de l'utilisateur(e) : {{utilisateur?.nom_complet_utilisateur}} ?"
                            tooltipPosition="left" (click)="ShowUpdatePassword(utilisateur)">
                        </i> -->
                        <i pButton pRipple class="p-button-rounded p-button-danger mr-2" icon="pi pi-trash"
                            pTooltip="Supprimer l'utilisateur(e) : {{utilisateur?.NomCompletUtilisateur}} ?"
                            tooltipPosition="left" (click)="SupprimerUtilisateur(utilisateur)">
                        </i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <!-- ------------------ Le Footer en cas d'une table vide ------------------ -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="7">
                    <div class="text-center">
                        <div class="center_media">
                            <img src="./assets/layout/images/no_data.svg" width="120px" alt="image no_data">
                        </div>
                        <p *ngIf="!is_loading" class="font-weight-bold mt-2">
                            Aucun enregistrement sur la base de données
                        </p>
                        <p *ngIf="is_loading" class="font-weight-bold mt-2">
                            Chargement ...
                        </p>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<!-- ----------------------------------------------------------------------- -->
<!--                      Le formulaire de modification                      -->
<!-- ----------------------------------------------------------------------- -->
<p-dialog dismissableMask="true" [resizable]="false" header="{{Header_info}}" [(visible)]="if_show_modifier"
    [maximizable]="true" [modal]="true" [baseZIndex]="10000" [style]="{'min-width': '70vw'}">
    <p-card>
        <app-formulaire-update-utilisateurs [data_selected_user]="data_selected_user" *ngIf="if_show_modifier"
            (FermerPopUp)="CloseUpdate($event)">
        </app-formulaire-update-utilisateurs>
    </p-card>
</p-dialog>
<!-- ----------------------------------------------------------------------- -->
<!--                        Le formulaire de l'ajout                         -->
<!-- ----------------------------------------------------------------------- -->
<p-dialog dismissableMask="true" [resizable]="false" header="Ajout d'utilisateur" [(visible)]="if_show_ajouter"
    [maximizable]="true" [modal]="true" [baseZIndex]="10000" [style]="{'min-width': '70vw'}">
    <p-card>
        <app-formulaire-ajout-utilisateurs *ngIf="if_show_ajouter" (FermerPopUp)="CloseAjouter($event)">
        </app-formulaire-ajout-utilisateurs>
    </p-card>
</p-dialog>

<!-- ----------------------------------------------------------------------- -->
<!--             Le popup pour agrandir une image d'utilisateur              -->
<!-- ----------------------------------------------------------------------- -->
<p-dialog dismissableMask="true" header="{{desc_image}}" [(visible)]="if_show_image" [modal]="true" [resizable]="false"
    [maximizable]="true" [baseZIndex]="10000" [style]="{'min-width': '70vw'}">
    <p-fieldset legend="Image principale">
        <div class="flex justify-content-center center_media">
            <div>
                <img [src]="API_BASE_URL_STORAGE_USERS+image_user" class="img-fluid" *ngIf="if_show_image"
                    alt="image utilisateur" onerror="this.src='assets/layout/images/no_image.png'">
            </div>
        </div>
    </p-fieldset>
</p-dialog>
<!-- ----------------------------------------------------------------------- -->
<!--               Formulaire de modification du mot de passe                -->
<!-- ----------------------------------------------------------------------- -->
<p-dialog dismissableMask="true" header="{{Header_info}}" [(visible)]="if_show_update_password" [resizable]="false"
    [maximizable]="true" [modal]="true" [baseZIndex]="10000" [style]="{'min-width': '50vw'}">
    <app-password [data_selected_user]="data_selected_user" *ngIf="if_show_update_password"
        (FermerPopUp)="ClosePassword($event)">
    </app-password>
</p-dialog>