<form [formGroup]="addAuditForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="nomAudit">Nom</label>
      <input type="text" class="form-control" id="nomAudit" formControlName="nomAudit">
    </div>
    <div class="form-group">
      <label for="typeAudit">Type d'Audit</label>
      <input type="text" class="form-control" id="typeAudit" formControlName="typeAudit">
    </div>
    <div class="form-group">
      <label for="dateAudit">Date d'Audit</label>
      <input type="date" class="form-control" id="dateAudit" formControlName="dateAudit">
    </div>
    <div class="form-group">
      <label for="status">Statut</label>
      <input type="text" class="form-control" id="status" formControlName="status">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>
