<div class="container">
  <table style="border: none;" class="w-100 header">
    <tr>
      <td class="text-left" style="vertical-align: middle;">
        <div class="flex flex-column">
          <p class="colored">#codeRapportverification#</p>
          <p class="colored">Processus technique</p>
        </div>
      </td>
      <td class="text-center" style="vertical-align: middle;">
        <h1 style="color: #7fa2ce;font-weight: 900;">Rapport de vérification</h1>
      </td>
      <td class="text-right" style="vertical-align: middle;">
        <img src="#logo#" onerror="this.imageUrl='assets/layout/images/user-cicrle.svg'" class="logo">
      </td>
    </tr>
  </table>
  <div class="flex justify-content-between w-100 mb-3">
    <div class="col-6 p-0">
      <p class="pp">N° de rapport : <span class="value">#numero#</span></p>
      <p class="pp">N° de fiche d'intervention : <span class="value">#numero#</span></p>
      <p class="pp">N° de fiche d'installation : <span class="value">#numero#</span></p>
      <p class="pp">N° d'ordre de service : <span class="value">#numero#</span></p>
    </div>
    <div class="col-6 text-right pt-70">
      <p class="pp">Date : <span class="value">#date#</span></p>
    </div>
  </div>
  <div class="flex justify-content-between w-100 mb-3">
    <div class="border-dotted w-50" style="margin-right: 10px;">
      <div class="tab1">
        <h4>Identification véhicule</h4>
        <p class="pp">Propriétaire : <span class="value">#Clientname#</span></p>
        <p class="pp">N° de chassis : <span class="value">#Vehiculenumero_chassi#</span></p>
        <p class="pp">Immatriculation : <span class="value">#Vehiculeimmatricule#</span></p>
        <p class="pp">Kilométrage : <span class="value">#kilometrage#</span></p>
      </div>
    </div>
    <div class="border-dotted w-50">
      <div class="tab1">
        <h4>Identification chronotachygraphe</h4>
        <p class="pp">Marque : <span class="value">#TachygrapheMarque#</span></p>
        <p class="pp">Model / Type: <span class="value">#TachygrapheTypeMarque#</span></p>
        <p class="pp">N° d'homologation : <span class="value">#TachygrapheNumHomologation#</span></p>
        <p class="pp">N° de série : <span class="value">#Tachygraphenum_serie#</span></p>
        <p class="pp">Année de fabrication: <span class="value">#Tachygraphedate_fabrication#</span></p>
        <p class="pp">V.max : <span class="value">#Tachygraphevitesse_max# Km/h</span></p>
      </div>
    </div>
  </div>
  <div class="flex mb-3">
    <div class="border-dotted w-100">
      <h4>Contrôles et décisions</h4>
      <table style="border: 1px solid #000;" class="w-100 table table-bordered">
        <thead>
          <tr>
            <th class="th center-text" rowspan="2"> <span>CONTROLE</span></th>
            <th class="th center-text" rowspan="2"> <span>VALEUR</span></th>
            <th class="th" colspan="2"><span>EMT</span></th>
            <th class="th" colspan="2"><span>CONFORMITE</span></th>
          </tr>
          <tr>
            <th class="th bg-grey"><span>VAI</span></th>
            <th class="th bg-grey"><span>VP</span></th>
            <th class="th bg-grey"><span>OUI</span></th>
            <th class="th bg-grey"><span>NON</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Prérequis</td>
            <td colspan="3">Contrôle des conditions normales d'essai</td>
            <td class="center-text">…………………………</td>
            <td class="center-text">…………………………</td>
          </tr>
          <tr>
            <td>Examen administratif</td>
            <td colspan="3">Contrôle administratif</td>
            <td class="center-text">…………………………</td>
            <td class="center-text">…………………………</td>
          </tr>
          <tr>
            <td>Plombages</td>
            <td colspan="3">Contrôle des plombages de l'installation et du tachygraphe</td>
            <td class="center-text">…………………………</td>
            <td class="center-text">…………………………</td>
          </tr>
          <tr>
            <td>Plaquette d'installation</td>
            <td colspan="3">Contrôle de la plaquette d'installation et de son plombage</td>
            <td class="center-text">…………………………</td>
            <td class="center-text">…………………………</td>
          </tr>
          <tr>
            <td>Horloge</td>
            <td class="center-text">…………………………</td>
            <td colspan="2"> 2min/ j ou 10min/7j</td>
            <td class="center-text">…………………………</td>
            <td class="center-text">…………………………</td>
          </tr>
          <tr>
            <td>Distance (1000m)</td>
            <td class="center-text">…………………………</td>
            <td> + - 2%</td>
            <td> + - 4%</td>
            <td class="center-text">…………………………</td>
            <td class="center-text">…………………………</td>
          </tr>
          <tr>
            <td>Tests de vitesse</td>
            <td class="center-text">-</td>
            <td> + - 4 km/h</td>
            <td> + - 6 km/h</td>
            <td class="center-text">…………………………</td>
            <td class="center-text">…………………………</td>
          </tr>
          <tr>
            <td>Test d'activité</td>
            <td colspan="3">Contrôle de l'activité sur le disque d'essai</td>
            <td class="center-text">…………………………</td>
            <td class="center-text">…………………………</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mt-50" style="width: 40%;">
    <p class="pLink">Validation du RTC</p>
    <div class="flex flex-column">
      <div class="flex align-items-center justify-content-center">
        <img class="canva_signature" src="#signature_rtc#">
      </div>
    </div>
  </div>
</div>