<app-loader *ngIf="is_loading"></app-loader>
<form [formGroup]="Formmulaire_update_utilisateur" (ngSubmit)="SubmitForm()">
    <div class="text-center flex justify-content-center mb-4">
        <p-message [showTransitionOptions]="'0ms'" *ngIf="Ifmessage" [hideTransitionOptions]="'500ms'"
            severity="{{Error==0 ?'success':'error'}}" text="{{ApiMessage}}"></p-message>
    </div>
    <p-fieldset legend="Informations générales">
        <div class="p-fluid p-formgrid grid">
            <div class="field col">
                <label>Nom complet de l'utilisateur : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && FormulaireErrors?.nom_complet_utilisateur.errors">
                    * ( Invalide )
                </span>
                <input pInputText type="text" formControlName="NomCompletUtilisateur"  placeholder="..."
                    >
            </div>
            <div class="field col">
                <label>Login : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && FormulaireErrors?.username.errors">
                    * ( Invalide )
                </span>
                <input pInputText type="text" formControlName="Username" placeholder="..."
                    >
            </div>
            <div class="field col">
                <label>Rôle : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && FormulaireErrors?.IdRole.errors">
                    * ( Invalide )
                </span>
                <p-dropdown [autoDisplayFirst]="false" [resetFilterOnHide]="true" class="ng-dirty" [showClear]="true"
                            [options]="liste_roles" formControlName="IdRole" [filter]="true" placeholder="..."
                            emptyFilterMessage="Aucun rôle" emptyMessage="Aucun rôle" scrollHeight="130px" appendTo="body">
                    <ng-template let-element pTemplate="item">
                        <div class="flex justify-content-between">
                            <span class="font-12">{{element?.label}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="field col">
                <label>Email : *</label>
                <span class="label_danger ml-1" *ngIf="IsFiled && FormulaireErrors?.email.errors">
                    * ( Invalide )
                </span>
                <input pInputText type="text" formControlName="Email" placeholder="Email" minlength="1"
                    maxlength="300" />
            </div>
        </div>
    </p-fieldset>
    <div class="text-center flex justify-content-center mt-2">
        <p-message [showTransitionOptions]="'0ms'" *ngIf="Ifmessage" [hideTransitionOptions]="'500ms'"
            severity="{{Error==0 ?'success':'error'}}" text="{{ApiMessage}}"></p-message>
    </div>
    <div class="flex justify-content-between center_media mt-2">
        <div>
            <button pButton pRipple type="button" class="p-button-danger" label="Femer" (click)="ClosePopUp(false)">
            </button>
        </div>
        <div>
            <button pButton pRipple type="submit" class="p-button-success" label="Valider"
                [disabled]="Disabled || is_loading">
            </button>
        </div>
    </div>
</form>