<div class="report-ods mis">
    <div class="row header-report" style="padding-top: 5px;padding-bottom: 5px">
        <div class="col-md-3 chrono-sys">
            <img src="#logo#" onerror="this.imageUrl='assets/layout/images/user-cicrle.svg'" class="h-10rem w-10rem">
        </div>
        <div class="col-md-6">
            <h3>Ordre de service</h3>
        </div>
        <div class="col-md-3 chrono-sys">
            <img src="#logo#" alt="logo">
        </div>
    </div>
    <div class="row body-report">
        <div class="col-md-12 first-div">
            <h3 class="span-orga">Organisme : </h3>
            <span class="circelbrand">#organismebrand#</span>
        </div>

        <div class="col-md-12 second-div">
            <div class="row">
                <div class="organisme-info col-md-4">
                    <span>#organismename#</span>
                    <span style="width: 300px;">#organismeaddress#. #Oranismecode_postale#
                        .#organismecity#</span>
                    <span>N° d'agrément : #Organismeapproval#</span>
                    <span>Date : #organismeopen_date#</span>
                </div>
                <div class="ods-info col-md-4">
                    <span>N° d'ordre de service : #numero#</span>
                    <span>Date : #date#</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 third-div">
            <div class="row">
                <h3 class="span-demandeur">Demandeur de la prestation : </h3>
            </div>
        </div>
        <div class="col-md-12 forth-div">
            <div class="row">
                <div class="client-info col-md-4">
                    <span>#Clientname#</span>
                    <span style="width: 300px;">#Clientadresse#.
                        #Clientcode_postale#. #Clientville#</span>
                    <span>#Clienttel# / #Clientgsm#</span>
                    <span>#Clientemail#</span>
                </div>
                <div class="vehicule-info col-md-6">
                    <span>N° de série : #Vehiculenumero_chassi#</span>
                    <span>Immatriculation : #Vehiculeimmatricule#</span>
                    <span>Date de mise en circulation : #VehiculeDate_mec#</span>
                    <span>Fabriquant : #Vehiculefabriquant#</span>
                </div>
            </div>
        </div>

        <div class="col-md-12 fifth-div">
            <div class="row">
                <h3 class="span-inter">Intervention demandée : </h3>
            </div>
        </div>

        <div class="col-md-12 sixth-div">
            <div class="row">
                <div class="item item-1">
                    <span class="type-inspection">Type d'inspection : #OrdreServiceTypelabel#</span>
                </div>
                <div class="item item-2">
                    <span class="transmission-tarif">Affichage / transmission tarif :
                        #OrdreServicetransmission_tarif#</span>
                    <span class="transmission-tarif">Transmission tarif :
                        #OrdreServicetarif#
                    </span>
                    <span class="intervention-sous-garantie">Intervention sous garantie :
                        #OrdreServiceintervention_sous_garantie#</span>
                </div>
                <div class="item item-3">
                    <p class="para-1">Dans le cas du repmlacement de tachygraphe, j'autorise l'organisme de véfigication
                        à remplacer l'appareil défectuex.</p>
                </div>
                <div class="item item-4">
                    <p class="para-2">
                        Je reconnais avoir pris connaissance des conditions générales de vente liées a l'intervention,
                        et avoir éte informé des tarifs qui me sont
                        applicables, et j'atteste sur l'honneur être un personnel compêtent pour engager la
                        responsalilité du demandeur dans
                        la contracualisation de cette commande.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 seventh-div">
            <div class="row">
                <h3 class="span-accord">Bon pour accord : </h3>
                <div>
                    <span class="type-accord">Type d'accord : #OrdreServicetype_accord#</span>
                    <span class="nom-responsable">Nom du responsable : #nom_responsable#</span>
                </div>
            </div>
        </div>
    </div>
</div>