<div class="certif-report">
    <div class="row header-report">
        <div class="col-md-6 logo-report">
            <img src="#logo#" onerror="this.imageUrl='assets/layout/images/user-cicrle.svg'">
        </div>
        <div class="col-md-6 info-centre-certif">
            <div class="info-centre">
                <p><span class="value">#organismename#</span></p>
                <p><span class="value">
                        #organismeaddress#.#Oranismecode_postale#.#organismecity#
                    </span>
                </p>
                <p>Tel : <span class="value">#organismephone#</span></p>
                <p>E-mail : <span class="value">#Oranismeemail#</span></p>
            </div>
            <div class="info-certif">
                <span class="value">#codecertificat#</span>
            </div>
        </div>
    </div>

    <div class="body-report">

        <div class="row titles-report item-body-report">
            <div class="col-md-12 titles">
                <div class="title title-1">
                    <p class="notebold">Agrément du Ministère chargé de l'industrie N°:
                        #Organismeapproval# du
                        #organismeopen_date#</p>
                </div>
                <div class="title title-2">
                    <p class="notebold">Marque d'identification de l'installateur : <span
                            class="circelbrand">#marque_installateur#
                        </span>
                    </p>
                </div>
                <div class="title title-3">
                    <p style="font-size: 17px!important">Attesation provisoire d'installation du chronotachygraphe N° :
                        #numero#</p>
                </div>
            </div>
        </div>

        <div class="row client-info item-body-report">
            <div class="col-md-12 item-body-report-h">
                <span>Informations sur le Propriétaire du véhicule</span>
            </div>
            <div class="col-md-12 item-body-report-b">
                <div class="item-body-report-b-v">
                    <span>- Nom ou raison social du propriétaire du véhicule : </span>
                    <span class="item-value">#Clientname#</span>
                </div>
            </div>
        </div>

        <div class="row vehicule-info item-body-report">
            <div class="col-md-12 item-body-report-h">
                <span>Informations sur le véhicule</span>
            </div>
            <div class="col-md-12 item-body-report-b">
                <div class="item-body-report-b-v">
                    <span>- Numéro d'immatriculation du véhicule : </span>
                    <span class="item-value">#Vehiculeimmatricule#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- Numéro de châssis du véhicule : </span>
                    <span class="item-value">#Vehiculenumero_chassi#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- Coefficient caractéristique du véhicule W (tr/Km ou Imp/Km) : </span>
                    <span class="item-value">#nv_w#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- Circonférence effective des pneumatiques du véhicule, "L" (mm) : </span>
                    <span class="item-value">#l_moyen#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- Dimensions des roues motrices : </span>
                    <span class="item-value">#dimensionPneus#</span>
                </div>
            </div>
        </div>

        <div class="row instrument-info item-body-report">
            <div class="col-md-12 item-body-report-h">
                <span>Informations sur l'instrument</span>
            </div>
            <div class="col-md-12 item-body-report-b">
                <div class="item-body-report-b-v">
                    <span>- Numéro de la décision d'approbation de modèle : </span>
                    <span class="item-value">#TachygrapheNumHomologation#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- Modèle/Type : </span>
                    <span class="item-value">#TachygrapheTypeMarque#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- Marque de l'instrument : </span>
                    <span class="item-value">#TachygrapheMarque#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- N° de série de l'instrument : </span>
                    <span class="item-value">#Tachygraphenum_serie#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- La contante K de l'instrument (tr/km ou imp/km) : </span>
                    <span class="item-value">#Tachygrapheconst_k#</span>
                </div>
                <div class="item-body-report-b-v">
                    <span>- Vitesse maximale de l'instrument km/h : </span>
                    <span class="item-value">#Tachygraphevitesse_max#</span>
                </div>
            </div>
        </div>
        <div class="row last-info item-body-report">
            <div class="col-md-12 minist-arrete">
                <p>
                    Ce certificat provisoire est valide jusqu'à immatriculation du véhicule.
                </p>

            </div>
            <div class="col-md-12 info-complementaires">
                <div class="note-lieu-date">
                    <span class="lieu-date">A #organismecity# le:
                        #date#
                    </span>
                </div>
                <div class="installateur-organisme">
                    <span>Signature de l'installateur agréé : </span>
                </div>
            </div>
        </div>
    </div>
</div>