<app-loader *ngIf="is_loading"></app-loader>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <p-message class="mb-3" [showTransitionOptions]="'0ms'" *ngIf="IsHidden" [hideTransitionOptions]="'500ms'"
            severity="{{Error==0 ?'success':'error'}}" text="{{ApiMessage}}"></p-message>
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-5 px-8 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-3">
                    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png"
                        alt="ChronoSys logo" class="mb-2 w-6rem flex-shrink-0">
                    <div class="text-900 text-3xl font-medium mb-3">Mot de passe oublié</div>
                    <span class="text-600 font-medium">Entrez votre adresse e-mail pour récupérer votre mot de passe</span>
                </div>
                
                <form [formGroup]="FormulaireMotDePasseOublie" (ngSubmit)="EnvoyerDemandeRecuperation()" >
                    <label for="emailForgot" class="block text-900 text-xl font-medium mb-2">Adresse e-mail</label>
                    <input id="emailForgot" formControlName="email" type="email" placeholder="Votre adresse e-mail"
                        pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <div class="flex align-items-center justify-content-between mb-3 gap-5">
                        <a routerLink="/auth" class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)">Retour à la page de connexion</a>
                    </div>
                    <button pButton pRipple label="Envoyer la demande de récupération" class="w-full p-3 text-xl"
                        type="submit"></button>
                </form>
            </div>
        </div>
    </div>
</div>

