*{
    outline: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.rapport-intervention{
    background-color: white;
}

.header-report{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black solid;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.title-report{
    font-size: 20px;
    font-weight: 600;
}

.header-report .chrono-sys img{
    height: 3rem;
}


.body-report .first-div .span-orga {
    font-weight: bold;
}

.body-report .first-div  {
    margin-top: 10px;
    margin-bottom: 50px;
}

.body-report .third-div{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.body-report .third-div span{
    font-size: 20px;
    font-weight: bold;
}

.col-md-12.forth-div {
    margin-top: 25px;
}

.body-report .second-div .row,.body-report .forth-div .row{
    display: flex;
    justify-content: space-between;
}

.body-report .forth-div .row .col-md-6{
    width: 50%;
}

.body-report .second-div .row .organisme-info ,
.body-report .second-div .row .ods-info{
    display: flex;
    flex-direction: column;
}

.forth-div-span {
    font-weight: bold;
}

#print-section-report{
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.print-footer {
    border-top: 5px solid;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.item {
    font-size: 11px;
}