::ng-deep {
    .p-autocomplete {
        width: 100% !important;
    }

    .p-inputtext {
        width: 100%;
    }

    .wizard-content {
        margin-top: 50px;
        padding: 20px;
    }

    .wizard-footer {
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .wizard-footer button.p-element.p-button.p-component.ng-star-inserted {
        margin-right: 10px;
    }

    .summary {
        display: flex;
        flex-wrap: wrap;
    }

    .summary .field label {
        margin-right: 20px;
    }

}