.styeButton {
    // Ajoutez les styles personnalisés que vous souhaitez appliquer à la classe styeButton
    background-color: #ffcc00; // Exemple de couleur de fond
    color: #333; // Exemple de couleur du texte
    border: 1px solid #ccc; // Exemple de bordure
    padding: 8px 16px; // Exemple de remplissage
    // Ajoutez d'autres styles selon vos besoins
  }
 
