<app-loader *ngIf="is_loading"></app-loader>
<div class="text-center flex justify-content-center">
    <p-message [showTransitionOptions]="'0ms'" *ngIf="Ifmessage" [hideTransitionOptions]="'500ms'"
        [severity]="Error === 0 ? 'success' : 'error'" [text]="ApiMessage"></p-message>
</div>
<br>
<form [formGroup]="clientForm" (ngSubmit)="SubmitForm()">
    <div class="flex"> 
        <div class="col-3">
            <label class="mb-2">Titre * : </label>
            <span class="label_danger ml-1" *ngIf="IsFiledClientForm && clientForm.get('libelle').errors?.required">
                (Invalide)
            </span>
            <input pInputText type="text" formControlName="libelle" placeholder="...">
        </div>
        <div class="col-3">
            <label class="mb-2">Version * : </label>
            <span class="label_danger ml-1" *ngIf="IsFiledClientForm && clientForm.get('version').errors?.required">
                (Invalide)
            </span>
            <input pInputText type="text" formControlName="version" placeholder="...">
        </div>
        <div class="col-3">
            <label class="mb-2">Date d'application * : </label>
            <span class="label_danger ml-1" *ngIf="IsFiledClientForm && clientForm.get('dateApplication').errors?.required">
                ( Invalide )
            </span>
            <p-calendar formControlName="dateApplication" dateFormat="dd/mm/yy"></p-calendar>
          </div>  
        <div class="col-3" >
            <label class="mb-2">SMQ * :</label>
            <span class="label_danger ml-1" *ngIf="IsFiledClientForm && clientForm.get('smqID').errors?.required">
              ( Invalide )
            </span>
            <p-dropdown [autoDisplayFirst]="false" [resetFilterOnHide]="true" class="ng-untouched ng-dirty " [showClear]="true"
              [options]="smqList" formControlName="smqID" [filter]="true" placeholder="Sélectionnez une SMQ"
              emptyFilterMessage="Aucune SMQ" emptyMessage="Aucune SMQ" scrollHeight="130px">
              <ng-template let-element pTemplate="item">
                <div class="flex justify-content-between">
                  <span class="font-12">{{ element?.label }}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
    </div>
    <div class="flex">
        <div class="col-6">
            <div class="flex flex-column mb-2 w-100">
                <label class="mb-2">Description * : </label>
                <span class="label_danger ml-1" *ngIf="IsFiledClientForm && clientForm.get('description').errors?.required">
                    ( Invalide )
                </span>
                <textarea pInputText type="text" formControlName="description" placeholder="..." style="height:140px;"></textarea>
              </div>
        </div>
        <div class="col-3">
            <div class="flex flex-column mb-2 w-100">
                <label class="mb-2">Choisir un fichier * : </label>
                <p-toast></p-toast>
                <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"  chooseLabel="Parcourir" (onUpload)="onUpload($event)" [multiple]="true" auto="true" accept=".pdf,/*" maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>         
        </div>   
    </div>      
    <div class="text-center flex justify-content-center mt-2">
        <p-message [showTransitionOptions]="'0ms'" *ngIf="Ifmessage" [hideTransitionOptions]="'500ms'"
            [severity]="Error === 0 ? 'success' : 'error'" [text]="ApiMessage"></p-message>
    </div>
    <div class="flex justify-content-between center_media mt-2">
        <div>
            <button pButton pRipple type="button" class="p-button-danger" label="Fermer" (click)="ClosePopUp(false)"></button>
        </div>
        <div>
            <div class="wizard-footer">
                <button pButton pRipple type="button" class="p-button-success" label="Ajouter" (click)="SubmitForm()"
                    [disabled]="Disabled || is_loading"></button>
            </div>
        </div>
    </div>
</form>
