<!--<div class="container mt-5">
    <h2 class="mb-4">Créer un Constat</h2>
    <form>
        <div class="form-row mb-3">
            <div class="col">
                <label for="constatId">ID du Constat :</label>
                <input type="text" class="form-control" [(ngModel)]="newConstat.id" id="constatId" name="constatId" placeholder="Entrez l'ID du constat" required>
            </div>
            <div class="col">
                <label for="constatName">Nom du Constat :</label>
                <input type="text" class="form-control" [(ngModel)]="newConstat.ecartTitle" id="constatName" name="constatName" placeholder="Entrez le nom du constat" required>
            </div>
            <div class="col">
                <label for="constatType">Type de Constat :</label>
                <input type="text" class="form-control" [(ngModel)]="newConstat.ecartType" id="constatType" name="constatType" placeholder="Entrez le type du constat" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="addConstat()">Créer Constat</button>


        <a class="nav-link" [routerLink]="['/listconstat']">Liste des Constats</a>
    </form>
</div>-->
