p{
    font-size: 18px;
}
h3{
    font-size: 20px;
    color: #295bac;
}
h2{
    font-size: 20px;
    color: #295bac;
    font-weight: bold;
}
.padding{
    padding: 100px;
}
span{
    color:#295bac ;
}