<div class="card padding">
    <p >
        Derrière les niveaux élevés de performance obtenus par certaines entreprises, on retrouve 
        généralement une véritable obsession pour la qualité. Une notion multiple et parfois difficile à 
        intégrer que le système de management de la qualité entend rendre accessible à toutes les 
        entreprises et organismes, indépendamment de leurs spécificités.
    </p>
    <h3 class="title" >SMQ : de quoi parle-t-on ?</h3>
    <p>
        Le système de management de la qualité, ou SMQ sous sa forme abrégée, réunit des règles 
        et des valeurs qui concourent au fonctionnement optimal d’un organisme ou d’une entreprise. 
        Formalisé au début des années 1990 avec <strong>la norme ISO 9000/9001</strong>, le SMQ se décline 
        aujourd’hui autour de 7 grands principes.
        En suivant consciencieusement les fondamentaux du management de la qualité, l’entreprise 
        ou l’organisation est en mesure <strong>accroître sa rentabilité, sa stabilité financière et assurer 
        sa création de valeur.</strong>
    </p>
    <h3 class="title" >Les ⑦ principes du système de management de la qualité</h3>
    <p>
        En 2015, le nombre de principes de management de la qualité est <strong>passé de 8 à 7</strong> , grâce au 
        travail de l’équipe internationale ISO/TC176. Ce sont ces 7 principes que nous allons vous 
        présenter.
    </p>
    <h2 class="title">PRINCIPE 1 : ORIENTATION CLIENT</h2>
    <p>
        L’objectif de n’importe quelle entreprise, quel que soit son domaine d’activité, est de <strong>satisfaire 
        les attentes de sa clientèle</strong> en lui fournissant des produits et services adaptés à ses 
        exigences.        
    </p>
    <p>
        Ce que cela sous-tend, c’est que c’est le client qui doit guider les actions de l’entreprise. Il 
        s’agit donc d’<strong>identifier ses attentes</strong>, voire de les anticiper, pour augmenter sa satisfaction et 
        parvenir à terme à le fidéliser.
    </p>
    <p>
        À l’heure des réseaux sociaux, où il est plus que commun de <strong>partager son 
            mécontentement </strong>avec d’autres potentiels clients, l’entreprise doit tout mettre en oeuvre pour 
        ne pas décevoir les attentes que l’on porte en elle.
    </p>
    <h2 class="title">PRINCIPE 2 : LEADERSHIP </h2>
    <p>
        Au sein du système complexe que représente une organisation, c’est la direction qui est 
        chargée de <strong>définir la stratégie à suivre, les objectifs à atteindre et les moyens pour y 
        parvenir.</strong>
               
    </p>
    <p>
        C’est aussi à elle qu’incombe la lourde tâche de créer les conditions favorisant l’amélioration. 
        Pour ce faire, le leader doit faire en sorte de <strong>communiquer les objectifs</strong> de la manière la plus 
        claire possible et de <strong>partager les valeurs de l’entreprise</strong> avec ses collaborateurs, en 
    </p>
    <p>
        montrant l’exemple. Il doit par ailleurs générer un <strong>climat de confiance</strong>, basé sur 
        l’encouragement et la reconnaissance.
    </p>
    <h2 class="title">PRINCIPE 3 : IMPLICATION DU PERSONNEL </h2>
    <p>
        Afin de s’assurer que le personnel est pleinement impliqué dans le projet, il est impératif de 
        trouver des moyens de <strong>favoriser et valoriser son engagement.</strong> En d’autres termes, le salarié 
        doit être conscient de la valeur ajoutée que représente sa contribution personnelle, quelle que 
        soit la place qu’il occupe au sein de l’entreprise, indépendamment de son ancienneté ou de 
        son niveau hiérarchique.
    </p>
    <p>
        Il est également nécessaire de vérifier que <strong>chacun dispose des habilitations et des 
            compétences</strong> requises pour réaliser les tâches qui lui sont confiées, au risque de 
        compromettre le but recherché.
    </p>
    <h2 class="title">PRINCIPE 4 : APPROCHE PROCESSUS</h2>
    <p>
        Ce 4e principe insiste sur le fait que les activités de l’entreprise doivent être envisagées comme 
        autant de <strong>processus corrélés entre eux</strong>. L’objectif est ici de mettre en exergue le 
        cheminement menant à un résultat observé, afin de le comprendre et d’en dégager plus 
        facilement <strong> axes d’amélioration</strong>.
    </p>
    <p>
        En agissant de cette manière, l’organisation<strong> renforce la cohérence et l’efficacité de son 
            système</strong>, sa capacité à gérer les risques, et par la même, la confiance que sa clientèle porte 
        en elle
    </p>
    <h2 class="title">PRINCIPE 5 : AMÉLIORATION CONTINUE</h2>
    <p>
        Pour rester compétitive et performante dans un contexte économique en constante évolution, 
        une organisation doit elle-même évoluer. C’est le fameux  <strong>principe d’</strong> <span>amélioration continue</span>, 
        qui va de pair avec la notion de qualité et trouve par exemple son application dans le <strong> cycle 
        PDCA ou roue de Deming</strong>.
    </p>
    <p>
        Pour entrer en résonance avec ce 5e principe, l’entreprise doit <strong>rechercher les opportunités 
        d’améliorations </strong> partout où elles se trouvent, qu’elles soient appliquées par rupture ou de 
        manière progressive, et inscrire l’effort d’innovation dans la <strong>culture de l’entreprise</strong> afin 
        d’impliquer les collaborateurs, à tous les étages de la hiérarchie.

    </p>
    <h2 class="title">PRINCIPE 6 : PRISE DE DÉCISION FONDÉE SUR LES PREUVES</h2>
    <p>
        Face au degré d’incertitude parfois élevé que peut impliquer la prise de décision, l’organisation 
        doit se tourner vers des <strong>sources de données et preuves fiables</strong>, par le biais des indicateurs 
        clés de performances par exemple, pour pouvoir poser des actions en toute connaissance de 
        cause.
    </p>
    <p>
        De plus, ces différents éléments doivent être<strong> analysés de manière objective</strong> afin d’éviter les 
        mauvaises interprétations qui pourraient conduire à un choix malencontreux.
    </p>
    <h2 class="title">PRINCIPE 7 : MANAGEMENT DES RELATIONS AVEC LES PARTIES INTÉRESSÉES</h2>
    <p>
        Les « parties intéressées » correspondent aux <strong> divers acteurs avec lesquels l’entreprise est 
        amenée à collaborer </strong> au quotidien, notamment ses fournisseurs, prestataires et autres 
        partenaires commerciaux
    </p>
    <p>
        Concrètement, si elle veut améliorer ses performances, les conserver dans le temps et 
        répondre aux attentes de ses clients, elle doit <strong>soigner ces relations professionnelles </strong>en 
        partageant par exemple les informations utiles de manière adéquate ou mettre en place des 
        stratégies d’amélioration de façon conjointe.
    </p>
    <h3 class="title" >Confier la gestion de la qualité à un expert du domaine (ITKAN SYS)</h3>
    <p>
        Les meilleures volontés et le suivi rigoureux des principes du SMQ <strong>ne suffisent pas toujours 
        à atteindre les objectifs de qualité</strong> fixés par les équipes dirigeantes. En pareil cas, certaines 
        entreprises sont tentées de jeter rapidement l’éponge, mettant leur incapacité à changer sur 
        le compte d’un manque d’implication de leur personnel ou, dans un exercice d’autocritique, 
        sur une absence de vision stratégique véritablement cohérente.
    </p>
    <p>
        La bonne nouvelle, c’est qu’il n’y a pas fatalité au fait de ne pas être doté des compétences 
        requises en interne pour mener à bien ce type de projet parfois très complexes. L’entreprise 
        ayant le désir d’améliorer sa rentabilité, son image de marque ou sa stabilité financière en 
        actionnant le « levier qualité » peut en effet faire appel à un <span>manager</span>  ou <span> directeur qualité de 
        transition</span>.
    </p>
</div>