<div *ngIf="selectedAudit">
    <form [formGroup]="updateAuditForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="nomAudit" formControlName="nomAudit" [(ngModel)]="selectedAudit.nomAudit">
      </div>
      <div class="form-group">
        <label for="typeAudit">Type d'Audit</label>
        <input type="text" class="form-control" id="typeAudit" formControlName="typeAudit" [(ngModel)]="selectedAudit.typeAudit">
      </div>
      
      <div class="form-group">
        <label for="dateAudit">Date d'Audit</label>
        <input type="date" class="form-control" id="dateAudit" formControlName="dateAudit" [(ngModel)]="selectedAudit.dateAudit">
      </div>
      <div class="form-group">
        <label for="status">Statut</label>
        <input type="text" class="form-control" id="status" formControlName="status" [(ngModel)]="selectedAudit.status">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description" [(ngModel)]="selectedAudit.description"></textarea>
      </div>     
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
  </div>
  