<p-fieldset legend="Rechercher les Audits" [toggleable]="true">
  <form [formGroup]="formulaireRecherche" (ngSubmit)="searchAudits()">
    <div class="d-flex justify-content-center mb-3">
      <div class="field col-4 text-center">
        <label class="mb-2">Type d'Audit</label>
        <p-dropdown [options]="typeAuditList" formControlName="typeAudit" [filter]="true" placeholder="Sélectionnez un type d'audit">
          <ng-template let-element pTemplate="item">
            <div class="flex justify-content-between">
              <span class="font-12">{{ element?.label }}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="field col-4 text-center">
        <label class="mb-2">Année</label>
        <p-calendar formControlName="annee" [yearNavigator]="true" yearRange="2000:2030" placeholder="Sélectionnez une année"></p-calendar>
      </div>
    </div>
    <div class="flex justify-content-end center_media mt-2" style="column-gap: 10px;">
      <button type="submit" pButton pRipple class="p-button" label="Ajouter Audit" tooltipPosition="right" style="font-size: 11px !important;" (click)="openAddAuditModal()"></button>
      <button type="submit" pButton pRipple class="p-button" icon="pi pi-search" iconPos="left" label="Rechercher / Rafraîchir" [disabled]="is_loading" style="font-size: 11px !important;"></button>
      <div>
        <button pButton pRipple class="ml-2 p-button-rounded" icon="pi pi-filter-slash" tooltipPosition="left" pTooltip="Cliquez ici pour vider le formulaire" (click)="clearSearch()"></button>
      </div>
    </div>
  </form>
  <!-- Autre contenu HTML -->
</p-fieldset>

<br>
<hr>

<app-loader *ngIf="is_loading"></app-loader>

<p-card class="m-1 mt-1 mb-1">
<p-table *ngIf="!is_loading && audits.length > 0" responsiveLayout="scroll" [value]="audits" styleClass="p-datatable-responsive-demo" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 15, 20]" [totalRecords]="audits.length" [lazy]="true" [sortOrder]="1" sortField="id">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="nomAudit">Auditeur <p-sortIcon field="nomAudit"></p-sortIcon></th>
      <th pSortableColumn="dateAudit">Date d'Audit <p-sortIcon field="dateAudit"></p-sortIcon></th>
      <th pSortableColumn="status">Statut <p-sortIcon field="status"></p-sortIcon></th>
      <th pSortableColumn="typeAudit">Type d'Audit <p-sortIcon field="typeAudit"></p-sortIcon></th>
      <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
      <th class="text-center">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-audit>
    <tr>
      <td>{{ audit.nomAudit }}</td>
      <td>{{ audit.dateAudit | date: 'dd/MM/yyyy' }}</td>
      <td>{{ audit.status }}</td>
      <td>{{ audit.typeAudit }}</td>
      <td>{{ audit.description }}</td>
      <td class="text-center">
        <div class="cm-action-btn">
          <i pButton pRipple class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil" tooltipPosition="right" (click)="openUpdateDialog(audit)"></i>
          <i pButton pRipple class="p-button-rounded p-button-danger" icon="pi pi-trash" tooltipPosition="right" (click)="deleteAudit(audit)"></i>
          <i pButton pRipple class="p-button-rounded p-button-warning" icon="pi pi-info" tooltipPosition="right"></i>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p *ngIf="!is_loading && audits.length === 0">No audits found.</p>
</p-card>

<div #addAuditModal class="modal fade" tabindex="-1" aria-labelledby="addAuditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAuditModalLabel">Ajouter Audit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-audit [addAudit]="addAudit" (closeAddDialog)="closeAddAuditDialog()"></app-add-audit>
      </div>
    </div>
  </div>
</div>
