<!-- list-audit.component.html -->

<p-fieldset legend="Recherchez les Audits" [toggleable]="true">
  <form [formGroup]="formulaireRecherche" (ngSubmit)="searchAudits()">
    <div class="d-flex justify-content-center mb-3">
      <div class="field col-4 text-center">
        <label class="mb-2">Type d'Audit</label>
        <p-dropdown [options]="typeAuditList" formControlName="typeAudit" [filter]="true" placeholder="Sélectionnez un type d'audit">
          <ng-template let-element pTemplate="item">
            <div class="flex justify-content-between">
              <span class="font-12">{{ element?.label }}</span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="flex justify-content-end center_media mt-2" style="column-gap: 10px;">
      <button type="submit" pButton pRipple class="p-button" label="Ajouter Audit" tooltipPosition="right" style="font-size: 11px !important;" (click)="openAddAuditModal()"></button>
      <button type="submit" pButton pRipple class="p-button" icon="pi pi-search" iconPos="left" label="Rechercher / Rafraîchir" [disabled]="is_loading" style="font-size: 11px !important;"></button>
      <div>
        <button pButton pRipple class="ml-2 p-button-rounded" icon="pi pi-filter-slash" tooltipPosition="left" pTooltip="Cliquez ici pour vider le formulaire" (click)="clearSearch()"></button>
      </div>
    </div>
  </form>
</p-fieldset>

<br>
<hr>

<app-loader *ngIf="is_loading"></app-loader>

<p-card class="m-1 mt-1 mb-1">
  <p-table responsiveLayout="scroll" [value]="audits" styleClass="p-datatable-responsive-demo" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 15, 20]" [totalRecords]="audits.length" [lazy]="true" [sortOrder]="1" sortField="id">
    <ng-template pTemplate="header">
      <tr>
        
        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
        <th pSortableColumn="dateAudit">Date <p-sortIcon field="dateAudit"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th pSortableColumn="typeAudit">Type <p-sortIcon field="typeAudit"></p-sortIcon></th>
        <th class="text-center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-audit>
      <tr>
       
        <td>{{ audit.nomAudit }}</td>
        <td>{{ audit.dateAudit }}</td>
        <td>{{ audit.status }}</td>
        <td>{{ audit.typeAudit?.type }}</td>
        <td class="text-center">
          <div class="cm-action-btn">
            <i pButton pRipple class="p-button-rounded p-button-info mr-2" icon="pi pi-pencil" tooltipPosition="left" (click)="openUpdateDialog(audit)"></i>
            <i pButton pRipple class="p-button-rounded p-button-danger" icon="pi pi-trash" tooltipPosition="right" (click)="deleteAudit(audit)"></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<!-- Add Modal -->
<div #addModal class="modal fade" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Ajouter Audit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-add-audit [addAudit]="addAudit" (closeAddDialog)="closeAddDialog()"></app-add-audit>
      </div>
    </div>
  </div>
</div>


<!-- Update Modal -->
<div #updateModal class="modal fade" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Modifier l'Audit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-update-audit [selectedAudit]="selectedAudit" (closeUpdateDialog)="closeUpdateDialog()"></app-update-audit>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-content-center mt-3">
  <button pButton pRipple type="button" icon="pi pi-file-pdf" label="Générer l'audit" class="p-button-info" style="color: black;"></button>
</div>
