<div class="pv">
    <div class="flex">
        <table class="w-100 header">
            <tr>
                <td class="text-left" style="vertical-align: middle;">
                    <div class="flex flex-column text-left justify-content-start">
                        <p class="colored">Processus technique</p>
                    </div>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h5 class="h5-pv" style="color: #7fa2ce;font-weight: 900;font-size: 24px;">DECLARATION DE PERTE DU
                        <br />
                        CARNET METROLOGIQUE</h5>
                </td>
                <td class="text-right" style="vertical-align: middle;">
                    <img src="#logo#" class="logo">
                </td>
            </tr>
        </table>
    </div>
    <div class="flex" style="margin: 35px 0;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv" style="font-size: 20px;font-weight: bold;">
                        Nous soussignons la société - Je soussigné Monsieur :
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3" style="margin-top: 30px;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        Titulaire de la CIN n° : #cin_chaffeur#
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex" style="margin:50px 0">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Détenteur du chrono tachygraphe</span>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex" style="margin-bottom: 30px;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Marque : </span>
                        <span class="value">#TachygrapheMarque#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Type : </span>
                        <span class="value">#TachygrapheTypeMarque#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">N° de série : </span>
                        <span class="value">#Tachygraphenum_serie#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Installé sur le véhicule immatriculé
                            sous
                            :
                        </span>
                        <span class="value">#Vehiculeimmatricule#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Propriété de :
                        </span>
                        <span class="value">#nom_chaffeur#</span>
                    </h5>
                </td>
            </tr>
        </table>
    </div>

    <div class="flex" style="margin-bottom: 40px;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        Déclare par la présente avoir perdu le carnet métrologique relatif au
                        chrono-tachygraphe susmentionné.
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3" style="margin-top: 15px;">
        <table class="w-100">
            <tr>
                <td class="text-right">
                    <h5 class="h5-pv">
                        <b>Signature / Cachet : </b>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3 footer-pv w-100">
        <table class="w-100">
            <tr>
                <td class="text-center" style="padding:0;">
                    <h6 style="margin: 0;">
                        #organismename# au capital de 100.000 Dhs Siège Social : 23, Rue Boured 2éme étage Appt. 4,
                        Roches
                        Noires.Casablanc
                    </h6>
                    <h6 style="margin: 0;">
                        Atelier : #organismeaddress# / Tél : #organismephone# / E-mail : #Oranismeemail#
                    </h6>
                </td>
            </tr>
        </table>
    </div>
</div>