<div class="pv">
    <div class="flex">
        <table class="w-100 header">
            <tr>
                <td class="text-left" style="vertical-align: middle;">
                    <div class="flex flex-column text-left justify-content-start">
                        <p class="colored">Processus technique</p>
                    </div>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h5 class="h5-pv" style="color: #6b95c8;font-weight: 900;font-size: 25px;">PV De Non-conformité</h5>
                </td>
                <td class="text-right" style="vertical-align: middle;">
                    <img src="#logo#" class="logo">
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100">
            <tr>
                <td class="text-right">
                    <h5 class="h5-pv">#organismecity#, le :
                        <span class="value">#date#</span>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv" style="font-size: 20px;">Décision de ministère relatif à l’installation et la
                        vérification des
                        chronotachygraphes N° <span class="value">#num_chronotachygraphes#</span>. Du <span
                            class="value"></span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        Je soussigné Mr / Société : <span class="value">#Clientname#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        Titulaire de la CIN n° : <span class="value">#cin_chaffeur#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv" style="margin: 15px 0;">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Détenteur du chrono tachygraphe</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Marque : </span>
                        <span class="value">#TachygrapheMarque#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Type : </span>
                        <span class="value">#TachygrapheTypeMarque#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">N° de série : </span>
                        <span class="value">#Tachygraphenum_serie#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Installé sur le véhicule immatriculé
                            sous
                            :
                        </span>
                        <span class="value">#Vehiculeimmatricule#</span>
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Propriété de :
                        </span>
                        <span class="value">#nom_chaffeur#</span>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3" style="margin-top: 30px;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span style="border-bottom: 1px solid;font-weight: bold;">Représente les Non-conformités
                            suivantes (
                            Hors réparation)</span>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100 table-carnet">
            <tr>
                <td class="text-left" style="padding:5px;width: 33.33%;vertical-align: top;">
                    <h6 class="h6-pv flex align-items-end">
                        Carnet non conforme à
                        l’arrêté 2399-20
                        <div class="border-ligne">
                            #oui_carnet_arrete_2399-20#
                        </div>
                    </h6>
                </td>
                <td class="text-left" style="padding:5px;width: 33.33%;vertical-align: top;">
                    <h6 class="h6-pv flex align-items-end">
                        Absence de carnet
                        métrologique
                        <div class="border-ligne">
                            #oui_carnet_absence#
                        </div>
                    </h6>
                </td>
                <td class="text-left" style="padding:5px;width: 33.33%;vertical-align: top;">
                    <h6 class="h6-pv flex align-items-end">
                        Carnet métrologique
                        saturé
                        <div class="border-ligne">
                            #oui_carnet_sature#
                        </div>
                    </h6>
                </td>
            </tr>
            <tr>
                <td class="text-left" style="padding:5px;width: 33.33%;vertical-align: top;">
                    <h6 class="h6-pv flex align-items-end">
                        Carnet métrologique
                        détérioré
                        <div class="border-ligne">
                            #oui_carnet_deteriore#
                        </div>
                    </h6>
                </td>
                <td class="text-left" style="padding:5px;width: 33.33%;vertical-align: top;">
                    <h6 class="h6-pv flex align-items-end">
                        Absence de la marque de
                        vérification première
                        <div class="border-ligne">
                            #oui_carnet_absence_marque_vp#
                        </div>
                    </h6>
                </td>
                <td class="text-left" style="padding:5px;width: 33.33%;vertical-align: top;">
                    <h6 class="h6-pv flex align-items-end">
                        Autres
                        <div class="border-ligne">
                            #oui_carnet_autres#
                        </div>
                    </h6>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex" style="margin-bottom: 40px;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        A cet effet, je délègue l’organisme d’installation et de vérification après
                        installation #organismebrand# a présenté le dit chronotachygraphe à la vérification
                        première, et m’engage à payer toutes les dépenses et redevances à l’exécution
                        de cette opération.
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        Signature du détenteur :
                    </h5>
                </td>
                <td class="text-right">
                    <h5 class="h5-pv">
                        Cachet et signature de l’organisme vérificateur :
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3 footer-pv w-100">
        <table class="w-100">
            <tr>
                <td class="text-center" style="padding:0;">
                    <h6 style="margin: 0;">
                        #organismename# au capital de 100.000 Dhs Siège Social : 23, Rue Boured 2éme étage Appt. 4,
                        Roches
                        Noires.Casablanc
                    </h6>
                    <h6 style="margin: 0;">
                        Atelier : #organismeaddress# / Tél : #organismephone# / E-mail : #Oranismeemail#
                    </h6>
                </td>
            </tr>
        </table>
    </div>
</div>