<div class="pv">
    <div class="flex">
        <table class="w-100 header">
            <tr>
                <td class="text-left" style="vertical-align: middle;">
                    <div class="flex flex-column text-left justify-content-start">
                        <p class="colored">Processus technique</p>
                    </div>
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    <h5 class="h5-pv" style="color: #7fa2ce;font-weight: 900;font-size: 24px;">Demande de<br />
                        vérification première</h5>
                </td>
                <td class="text-right" style="vertical-align: middle;">
                    <img src="#logo#" class="logo">
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100">
            <tr>
                <td class="text-right">
                    <h5 class="h5-pv">#nom_center#
                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-right">
                    <h5 class="h5-pv">#organismecity#, le :
                        <span class="value">#date#</span>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        A L’attention du centre #nom_center#
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv" style="text-decoration: underline;margin: 10px 0;">
                        <b>Objet :</b> <span>Demande de vérification première des chronotachygraphes présentés
                            par l’installateur pour le compte du détenteur.</span>

                    </h5>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <span>Conformément au décret 2.05.813, à l’arrêté 972-10, à l’arrêté du
                            chronotachygraphe 2399-20 et à la note DGC/DPCSMQ/DMAOI/2023/I/18.
                            Veuillez trouver ci-après les informations relatives aux chronotachygraphes
                            présentés à la vérification première par nos soins :
                            REPRIS DANS LA LISTE CI-DESSOUS : Nombre de tachygraphe #number_tachygraphe#</span>

                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex" style="margin: 20px 0;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <b>Chronotachygraphe : </b>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100 table-carnet">
            <tr>
                <th class="text-left">
                    Marque
                    apparei
                </th>
                <th class="text-left">
                    modèle
                    Type
                </th>
                <th class="text-left">
                    Vitesse
                    maximale
                </th>
                <th class="text-left">
                    Année de
                    fabrication
                </th>
                <th class="text-left">
                    Numéro de
                    série de
                    fabrication
                </th>
                <th class="text-left">
                    Numéro
                    d’approbation
                </th>
            </tr>
            #lists_chronotachygraphe#
        </table>
    </div>
    <div class="flex" style="margin: 20px 0;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h5 class="h5-pv">
                        <b>Détenteur : </b>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3">
        <table class="w-100 table-carnet">
            <tr>
                <th class="text-center">
                    Propriétaire
                </th>
                <th class="text-center">
                    Véhicule / Matricule
                </th>
                <th class="text-center">
                    Etat de carnet
                    (Détérioré, absent, saturé,
                    ancien)
                </th>
            </tr>
            #lists_clients#
        </table>
    </div>
    <div class="flex mb-3" style="margin-top: 15px;">
        <table class="w-100">
            <tr>
                <td class="text-right">
                    <h5 class="h5-pv">
                        <b>Signature / Cachet : </b>
                    </h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="flex mb-3 footer-pv w-100">
        <table class="w-100">
            <tr>
                <td class="text-center" style="padding:0;">
                    <h6 style="margin: 0;">
                        #organismename# au capital de 100.000 Dhs Siège Social : 23, Rue Boured 2éme étage Appt. 4,
                        Roches
                        Noires.Casablanc
                    </h6>
                    <h6 style="margin: 0;">
                        Atelier : #organismeaddress# / Tél : #organismephone# / E-mail : #Oranismeemail#
                    </h6>
                </td>
            </tr>
        </table>
    </div>
</div>