<div class="flex">
    <table class="w-100 header">
        <tr>
            <td class="text-left" style="vertical-align: middle;">
                <div class="flex flex-column text-left justify-content-start">
                    <p class="colored">#codeodsdoc#</p>
                    <p class="colored">Processus ADV</p>
                </div>
            </td>
            <td class="text-center" style="vertical-align: middle;">
                <h1 style="color: #7fa2ce;font-weight: 900;">Ordre de service</h1>
            </td>
            <td class="text-right" style="vertical-align: middle;">
                <img src="#logo#" class="logo">
            </td>
        </tr>
    </table>
</div>
<div class="flex mb-3">
    <table class="w-100">
        <tr>
            <td class="text-left">
                <h3>N° :
                    <span class="value">#numero#</span>
                </h3>
            </td>
            <td class="text-right">
                <h3>Date :
                    <span class="value">#date#</span>
                </h3>
            </td>
        </tr>
    </table>
</div>
<div class="flex mb-3">
    <table class="w-100">
        <tr>
            <td class="border-dottedd">
                <div class="border-dotted">
                    <h2 class="colored text-center">Prestations</h2>
                    <table class="w-100">
                        <tr>
                            <td class="text-center">
                                <div class="flex align-items-center">
                                    <p>VAI sous-traitée</p>
                                    <img class="iconcheck" src="#VAIST#">
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="flex align-items-center">
                                    <p>Installation</p>
                                    <img class="iconcheck" src="#IN#">
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="flex align-items-center">
                                    <p>VAI</p>
                                    <img class="iconcheck" src="#VAI#">
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="flex align-items-center">
                                    <p>VP</p>
                                    <img class="iconcheck" src="#VP#">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="flex  mb-3">
    <div class="border-dotted w-100" style="margin-right: 10px;">
        <table class="w-100">
            <tr>
                <td class="text-left">
                    <h2 class="text-center colored">Informations clients</h2>
                    <table class="w-100" style="padding:0 10px;">
                        <tr>
                            <td class="text-left">
                                <p>Nom du propriétaire :
                                    <span class="value">#Clientname#</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>Adresse du propriétaire :
                                    <span class="value">
                                        #Clientadresse#.#Clientcode_postale#.#Clientville#
                                    </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>Nom du conducteur : <span class="value">
                                        #nom_chaffeur#</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>CIN : <span class="value">#cin_chaffeur#</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>Téléphone : <span class="value">#Clientgsm#</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>Responsable hiérachique :
                                    <span class="value">#nom_responsable#</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="border-dotted w-100">
        <table class="w-100">
            <tr>
                <td class="text-right">
                    <h2 class="text-center colored">Identification véhicule</h2>
                    <table class="w-100" style="padding:0 10px;">
                        <tr>
                            <td class="text-left">
                                <p>Marque : <span class="value">#Vehiculemarque#
                                    </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>Type : <span class="value">#Vehiculetype#</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>N° de châssis :
                                    <span class="value">#Vehiculenumero_chassi#</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>Immatriculation :
                                    <span class="value">#Vehiculeimmatricule#</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p>1<sup>er</sup>MEC :
                                    <span class="value">#VehiculeDate_mec#</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<table class="w-100 mb-3">
    <tr>
        <td class="border-dottedd">
            <div class="border-dotted">
                <h2 class="text-center colored">Informations chronotachygraphe </h2>
                <table class="w-100" style="padding:0 10px;">
                    <tr>
                        <td class="text-left w-50">
                            <p>Marque : <span class="value">
                                    #TachygrapheMarque#
                                </span>
                            </p>
                        </td>
                        <td class="text-left w-50">
                            <p>N° de série :
                                <span class="value">
                                    #Tachygraphenum_serie#</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left w-50">
                            <p>Model / Type :
                                <span class="value">
                                    #TachygrapheTypeMarque#
                                </span>
                            </p>
                        </td>
                        <td class="text-left w-50">
                            <p>Année de fabrication :
                                <span class="value">
                                    #Tachygraphedate_fabrication#</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left w-50">
                            <p>N° d'homologation :
                                <span class="value">
                                    #TachygrapheNumHomologation#
                                </span>
                            </p>
                        </td>
                        <td class="text-left w-50">
                            <p>V.max :
                                <span class="value">
                                    #Tachygraphevitesse_max# Km/h</span>
                            </p>
                        </td>
                    </tr>
                </table>
                <table class="w-100">
                    <tr>
                        <td class="text-center" style="padding: 5px 100px;">
                            <div class="flex justify-space-between align-items-center">
                                <p class="colored">Conformité du carnet selon l'arrêté 2399-20 : </p>
                                <div class="flex">
                                    <p>Oui</p>
                                    <img class="iconcheck" src="#ouiConformite_carnet_metrologique#">
                                </div>
                                <div class="flex">
                                    <p>Non</p>
                                    <img class="iconcheck" src="#nonConformite_carnet_metrologique#">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<div class="flex mb-3">
    <div class="border-dotted w-60" style="margin-right: 10px;">
        <table class="w-100">
            <td class="">
                <h2 class="colored text-center">Décision de la revue</h2>
                <table class="w-100" style="padding:0 10px;">
                    <tr>
                        <td>
                            <div class="flex align-items-center">
                                <p>Acceptée sans dotation de ressources supplémentaires</p>
                                <img class="iconcheck" src="#acceptee_sans_dotation#">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex align-items-center">
                                <p>Acceptée avec dotation de ressources supplémentaires</p>
                                <img class="iconcheck" src="#acceptee_avec_dotation#">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex justify-space-between align-items-center">
                                <p>Modalité de paiement : </p>
                                <div class="flex align-items-center">
                                    <p>En comptant</p>
                                    <img class="iconcheck" src="#ouiModalite_paiement#">
                                </div>
                                <div class="flex align-items-center">
                                    <p>En compte</p>
                                    <img class="iconcheck" src="#nonModalite_paiement#">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex align-items-start">
                                <p>Incapacité de satisfaire la demande </p>
                                <img class="iconcheck" src="#check_incapacite_satisfaire_demande#">
                                <p style="margin-left: 4px;"> : <span
                                        class="value">#desc_incapacite_satisfaire_demande#</span></p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </table>
    </div>
    <div class="border-dotted w-40">
        <table class="w-100">
            <td class="">
                <h2 class="colored text-center">Informations commerciales</h2>
                <table class="w-100" style="padding:0 10px;">
                    <tr>
                        <td>
                            <p>Devis : #num_devis#</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Bon de commande : #num_commande#</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Bon de livraison : #num_bon_liv#</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Facture : #num_facture#</p>
                        </td>
                    </tr>
                </table>
            </td>
        </table>
    </div>
</div>
<div class="flex mb-3">
    <div class="border-dotted w-30" style="margin-right: 10px;">
        <table class="w-100">
            <tr>
                <td class="w-30">
                    <h2 class="colored text-center">VISA ADV :</h2>
                    <table class="w-100" style="padding:0 10px;">
                        <tr>
                            <td>
                                <div class="flex align-items-center justify-content-center">
                                    <img class="canva_signature" src="#signature_adv#">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="border-dotted w-70">
        <table class="w-100">
            <tr>
                <td>
                    <h2 class="colored text-center">Contrôle de fin de prestation par le conducteur du véhicule</h2>
                    <table class="w-100" style="padding:0 10px;">
                        <tr class="text-right">
                            <td>
                                <p>
                                    أنا الممضي أسفله, أقر بأنني قد تسلمت المركبة موضوع تركيب قياس السرعة و المسافة
                                    المقطوعة وو
                                    قت
                                    السياقة في حالها الأصلية
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                <p class="colored">Date :
                                    <span class="value">#date#</span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>